{
  "presets": [
    "env"
  ],
  "plugins": [
    "transform-runtime",
    [
      "transform-react-jsx",
      {
        "pragma": "React.createElement"
      }
    ],
    "proposal-optional-chaining"
  ],
  "parserOpts": {
    "plugins": [
      "dynamicImport"
    ]
  }
}